.register-bg{
    background-color: rgb(247, 251, 255);
}
.register{
    min-height: 900px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.register-dev{
    height: 450px;
    width: 280px;
    background-color: rgb(215, 227, 236);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-color{
    color: rgb(0, 112, 211);
    font-weight: bold;
    font-family: Goudy Old Style;
}
.register-form{
    display: flex;
    justify-content: center;

}
.register-input{
    height: 37px;
    margin: 7px auto ;
    border-radius: 50px;
    width: 250px;
}
.register-submit-btn{
    transition: .3s;
    background: #c0d1e0;
    cursor: pointer;
    font-weight: bold;
}
.register-submit-btn:hover{
    background-color: rgb(177, 196, 219);
}