
.continue-with-google{
    background: #c0d1e0;
    height: 40px;
    border-radius: 50px;
    transition: .3s;
    color: rgb(67, 167, 255);
    font-weight: bold;
}
.continue-with-google:hover{
    background-color: rgb(177, 196, 219);
}