.navber-bg {
    background-color: rgb(231, 248, 255);
}
.dropbtn {
    background-color: inherit;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
}
.dropdown {
    color: black;
    position: relative;
    display: inline-block;
}
.dropbtn:hover{
    color: rgb(233, 132, 0);
    transition:0.4s;
}
.dropdown-content { 
    display: none;
    position: absolute;
    background-color: #eff8fd;
    right: 0;
    min-width: 220px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
@media screen and (max-width:1199px) {
    .dropdown-content{
        left: 0;
    }
}
.dropdown-content a {
    color: black;
    padding: 3px 6px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(135, 170, 247);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown2 {
    color: black;
    position: relative;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img {
    padding-top: 2px;
}
.profile-img img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-displayname{
    padding-top: 2px;
}
.profile-view{
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #00226d !important;
    color: rgb(0, 52, 100);
    background-color:rgb(152, 205, 255);
    transition: .3s;
}
.profile-view:hover{
    background-color: #6da7ff;
}
.dashboard-btn{
    background-color: #eff8fd !important;
    color: rgb(3, 32, 110);
}

/* ------------------------- */
.header-bg{
    padding: 0 15px;
    height: 55px;
    background-color: rgb(226, 241, 255);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-dev1{
    height: 55px;
    display: flex;
    grid-gap: 7px;
    justify-content: start;
    align-items: center;
}
.header-dev2{
    height: 55px;
    display: flex;
    grid-gap: 7px;
    justify-content: center;
    align-items: center;
}
.header-dev3{
    height: 55px;
    display: flex;
    grid-gap: 7px;
    justify-content: end;
    align-items: center;
}
.header-dev2-font{
    font-size: 23px;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.header-dev2-font:hover{
    background-color: rgb(201, 229, 255);
}
.header-dev3-font-account{
    border-radius: 50px;
    padding: 2px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.header-dev3-font-account:hover{
    background-color: rgb(184, 222, 255) !important;
    text-decoration: none !important;
}
.header-dev3-font-account-font{
    padding: 7px;
    border-radius: 50px;
}
.header-dev3-font-account-user-name{
    font-weight: 600;
    margin:0;
    padding: 0 7px 3px 7px;
}
.header-dev3-font-account-user-name-firstname:hover{
    text-decoration: none !important;
}
.header-dev3-font-message{
    background-color: rgb(178, 218, 253);
    border-radius: 50px;
    padding: 13px 14px;
    cursor: pointer;
}
.header-dev3-font-notification{
    background-color: rgb(185, 222, 255);
    padding: 13px 15px;
    border-radius: 50px;
    cursor: pointer;
}
.header-dev3-font-ellipsis{
    padding: 13px 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(186, 223, 255);
}
